@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
:root{
    --main-color: brown;
    --light-color: whitesmoke;
    --light-color-variation: rgba(245, 245, 245, 0.5);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style: none;
}
a{
    display: inline-block;
}

.main-header{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: hsla(0, 0%, 0%, 0.2);
    z-index: 1;
}
.scroll-down{
    background-color: var(--light-color);
    box-shadow: 0px -8px 21px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -8px 21px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -8px 21px 5px rgba(0,0,0,0.75);
}
.navbar-icon-menu div, .navbar-icon-profile div, .navbar-icon-search div{
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    font-size: 1.6rem;
    color: var(--light-color);
}
.search-profile-container a div{
    width: 32px;
}
.navbar-icon-logo div{
    display: grid;
    place-content: center;
    height: 100%;
    font-size: 1.6rem;
    color: var(--light-color);
}
.navbar-icon-menu .scroll-box-style, .navbar-icon-profile .scroll-box-style, .navbar-icon-logo .scroll-box-style, .navbar-icon-search .scroll-box-style{
    color: black;
}
.movie-list{
    display: flex;
    overflow-x: auto;
}
.movie-list div img{
    width: 100vw;
}
.movie-list div{
    position: relative;
}
.movie-list div .movie-description{
    width: 100vw;
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: var(--light-color);
    background: hsla(0, 0%, 0%, 0.95);
    box-shadow: -1px 0px 14px 15px rgba(0,0,0,0.95);
    -webkit-box-shadow: -1px 0px 14px 15px rgba(0,0,0,0.95);
    -moz-box-shadow: -1px 0px 14px 15px rgba(0,0,0,0.95);
}
.movie-list .movie-description h1{
    margin-bottom: 12px;
    font-size: 2.4rem;
}
.main-button{
    padding: 8px;
    background-color: var(--main-color);
    border-radius: 12px;
    border: none;
    color: var(--light-color);
}

.movies-section{
    padding: 16px 20px;
}
.second-title{
    margin-bottom: 12px;
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
}
.movies-section article div img{
    width: 100%;
    height: 100%;
}
.movies-section .row1{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 8px;
}
.movies-section .row2{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}
.button-container{
    text-align: center;
    margin-top: 12px;
    font-size: 1.2rem;
}

.main-footer{
    font-size: 1.2rem;
}
.primary-footer{
    padding: 20px 10px;
    background-color: var(--main-color);
    color: var(--light-color);
}
.primary-footer--first-container div{
    display: inline-block;
}
.primary-footer a{
    color: var(--light-color);
}
.primary-footer--first-container{
    display: flex;
    justify-content: space-around;

}
.primary-footer--first-container .politic-container{
    min-width: 134px;
}
.primary-footer--first-container .social-media{
    width: 30%;
}
.primary-footer .info-container .first-parra{
    margin-bottom: 8px;
}
.politic-container ul li{
    margin-bottom: 32px;
}
.primary-footer .info-container{
    grid-column: 1/3;
}
.second-footer ul{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 320px;
    padding: 10px;
}
.second-footer ul li a{
    padding: 10px 5px;
    font-size: 0.9rem;
    color: var(--main-color);
}

/*Second section*/

.more-movies-main{
    padding-top: 48px;
}
.category-movie-list-section{
    padding: 32px;
}
.categories .display-categories .filter-icon{
    color: var(--main-color);
}
.category-movie-list-section .header-section h1{
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--main-color);
}
.movie-container{
    padding-top: 12px;
    margin: 0 auto;
}
.movie-item{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.movie-item .movie-img-container{
    width: 120px;
}
.movie-item .movie-img-container img{
    width: 100%;
}
.movie-item .movie-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 150px;
    margin-left: 8px;
}
.movie-description h1{
    margin-bottom: 8px;
    font-size: 1.4rem;
}
.movie-description .main-button{
    margin-bottom: 8px;
}
.second-button{
    padding: 8px;
    background-color: var(--light-color);
    border-radius: 12px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 16px 0;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}
.close-categories{
    display: none;
}
.categories .display-categories{
    display: inline-block;
}
.category-movie-list-section .button-container{
    margin: 0;
    padding-top: 32px;
    border-top: 1px solid var(--main-color);
}
.categorie-list-div--open{
    display: none;
    font-size: 1.2rem;
}
.categorie-list-div--open .list .category-item{
    padding: 12px;
    border-bottom: 1px solid var(--main-color);
}

/*search section styles*/
.search-section{
    display: none;
    padding: 24px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: var(--main-color);
}
.back-button-container{
    color: var(--light-color);
    font-size: 1.8rem;
}
.back-button{
    display: inline-block;
}
.search-container{
    display: flex;
    padding: 16px 12px 4px 12px;
    font-size: 3rem;
    color: var(--light-color-variation);
    border-bottom: 2px solid var(--light-color-variation);
}
.search-input{
    width: 100%;
    padding: 0 12px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: var(--light-color);
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
.search-input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--light-color-variation);
}
#open{
    display: block;
}
#close{
    display: none;
}