@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
:root{
    --main-color: brown;
    --light-color: whitesmoke;
    --light-color-variation: rgba(245, 245, 245, 0.5);
    --loading-color: #707B7C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style: none;
}
a{
    display: inline-block;
}
button{
    border: none;
    background: none;
}

.main-header{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: hsla(0, 0%, 0%, 0.2);
    z-index: 1;
}
.scroll-down{
    background-color: var(--light-color);
    box-shadow: 0px -8px 21px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -8px 21px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -8px 21px 5px rgba(0,0,0,0.75);
}
.navbar-icon-menu div, .navbar-icon-profile div, .navbar-icon-search div{
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    font-size: 1.6rem;
    color: var(--light-color);
}
.search-profile-container a div{
    width: 32px;
}
.navbar-icon-logo div{
    display: grid;
    place-content: center;
    height: 100%;
    font-size: 1.6rem;
    color: var(--light-color);
}
.navbar-icon-menu .scroll-box-style, .navbar-icon-profile .scroll-box-style, .navbar-icon-logo .scroll-box-style, .navbar-icon-search .scroll-box-style{
    color: black;
}
.movie-list{
    display: flex;
    overflow-x: auto;
}
.movie-list div img{
    width: 100vw;
}
.movie-list div{
    position: relative;
}
.movie-list div .movie-description{
    width: 100vw;
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: var(--light-color);
    background: hsla(0, 0%, 0%, 0.95);
    box-shadow: -1px 0px 14px 15px rgba(0,0,0,0.95);
    -webkit-box-shadow: -1px 0px 14px 15px rgba(0,0,0,0.95);
    -moz-box-shadow: -1px 0px 14px 15px rgba(0,0,0,0.95);
}
.movie-list .movie-description h1{
    margin-bottom: 12px;
    font-size: 2.4rem;
}
.main-button{
    padding: 8px;
    background-color: var(--main-color);
    border-radius: 12px;
    border: none;
    color: var(--light-color);
}

.movies-section{
    padding: 16px 20px;
}
.second-title{
    margin-bottom: 12px;
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
}
.image{
    width: 100%;
    height: 100%;
}
.movies-section .row1{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 8px;
}
.movies-section .row2{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}
.button-container{
    text-align: center;
    margin: 12px 0;
    font-size: 1.2rem;
}

.main-footer{
    font-size: 1.2rem;
}
.primary-footer{
    padding: 20px 10px;
    background-color: var(--main-color);
    color: var(--light-color);
}
.primary-footer--first-container div{
    display: inline-block;
}
.primary-footer a{
    color: var(--light-color);
}
.primary-footer--first-container{
    display: flex;
    justify-content: space-around;

}
.primary-footer--first-container .politic-container{
    min-width: 134px;
}
.primary-footer--first-container .social-media{
    width: 30%;
}
.primary-footer .info-container .first-parra{
    margin-bottom: 8px;
}
.politic-container ul li{
    margin-bottom: 32px;
}
.primary-footer .info-container{
    grid-column: 1/3;
}
.second-footer ul{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 320px;
    padding: 10px;
}
.second-footer ul li a{
    padding: 10px 5px;
    font-size: 0.9rem;
    color: var(--main-color);
}

/*Second section*/

.more-movies-main{
    padding: 48px 32px 0 32px;
}
.back-history-container{
    padding: 16px 0;
}
.back-history-button{
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 2rem;
    color: var(--light-color);
}
.back-history-button span{
    display: grid;
    height: 100%;
    place-content: center;
}
.category-movie-list-section{
    padding-bottom: 16px;
}
.categories .display-categories .filter-icon{
    color: var(--main-color);
}
.category-movie-list-section .header-section h1{
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--main-color);
}
.movie-container{
    padding-top: 12px;
    margin: 0 auto;
}
.movie-item{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
/* .movie-item*/ .movie-img-container{ 
    width: 120px;
    height: 180px;
    position: relative;
}
.movie-item .movie-img-container img{
    width: 100%;
    height: 100%;
}
.movie-item .movie-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 150px;
    margin-left: 8px;
}
.movie-description h1{
    margin-bottom: 8px;
    font-size: 1.4rem;
}
.movie-description .main-button{
    margin-bottom: 8px;
}
.second-button{
    padding: 8px;
    background-color: var(--light-color);
    border-radius: 12px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 16px 0;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}
.close-categories{
    display: none;
}
.categories .display-categories{
    display: inline-block;
}
.category-movie-list-section .button-container{
    margin: 0;
    padding-top: 32px;
    border-top: 1px solid var(--main-color);
}
.categorie-list-div--open{
    display: none;
    font-size: 1.2rem;
}
.categorie-list-div--open .list .category-item{
    padding: 12px;
    border-bottom: 1px solid var(--main-color);
}

/*search section styles*/
.search-section{
    display: none;
    padding: 24px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: var(--main-color);
}
.back-button-container{
    color: var(--light-color);
    font-size: 1.8rem;
}
.back-button{
    display: inline-block;
}
.search-container{
    display: flex;
    padding: 16px 12px 4px 12px;
    font-size: 3rem;
    color: var(--light-color-variation);
    border-bottom: 2px solid var(--light-color-variation);
}
.search-input{
    width: 100%;
    padding: 0 12px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: var(--light-color);
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
.search-input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--light-color-variation);
}
/*movie details styles*/
.movie-details-section{
    display: none;
}
.movie-backdropPath-container{
    padding-top: 48px;
}
.movie-backdropPath img{
    width: 100%;
}
.movie-details-container{
    padding: 20px 32px;
}
.movie-details h3, .movie-details h4{
    font-size: 2rem;
    color: var(--main-color);
}
.movie-details h4{
    margin-bottom: 4px;
}
.movie-details-subtitle{
    font-size: 1.2rem;
    margin-bottom: 12px;
}
.movie-details-synopsis{
    font-size: 1.4rem;
    text-align: justify;
}
.movie-recommendations-container{
    margin-top: 12px;
}
.movie-recommendations-section, .favorite-movies-section{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}
.related-movie-item{
    margin-right: 8px;
    flex-shrink: 0;
}
.related-movie-item img{
    display: inline-block;
    width: 120px;
    min-height: 180px;
}

.menu-section{
    width: 255px;
    height: 100vh;
    padding: 20px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: -255px;
    z-index: 2;
    transition: left 0.5s;
}
.menu-section--active{
    left: 0;
}
.scroll-inactive{
    overflow-y: hidden;
}
.menu-list{
    margin-top: 12px;
}
.menu-list__item{
    margin-bottom: 8px;
    overflow: hidden; 
}
.menu-list__button a, .menu-list__button button, .menu-sublist__item button{
    color: var(--light-color);
    font-size: 1.6rem;
}
.menu-sublist{
    height: 0;
    display: grid;
    gap: 4px;
    margin-left: 4px;
    padding-left: 60px;
    border-left: 1px solid var(--light-color);
    transition: height 0.5s;
}

/*favorite movies*/
.favorite-movies-section .movie-img-container img{
    width: 100%;
    height: 100%;
}

/*Loading screens styles*/
.movie-list--loading{
    width: 100vw;
    height: 565.5px;
    background-color: var(--loading-color);
    animation: loading-skeleton infinite 1.5s;
}
.movies-section-row1--loading{
    width: 163.5px;
    height: 248.25px;
    background-color: var(--loading-color);
    animation: loading-skeleton infinite 1.5s;
}
.movies-section-row2--loading{
    width: 106.33px;
    height: 162.52px;
    background-color: var(--loading-color);
    animation: loading-skeleton infinite 1.5s;
}
.movie-img-container--loading{
    height: 180px;
    background-color: var(--loading-color);
    animation: loading-skeleton infinite 1.5s;
}
.h1--loading{
    width: 100px;
    height: 20px;
    background-color: var(--loading-color);
    animation: loading-skeleton infinite 1.5s;
}
.main-button--loading{
    height: 30px;
    background-color: var(--loading-color);
    animation: loading-skeleton infinite 1.5s;
}
.second-button--loading{
    height: 30px;
    border: none;
    background-color: var(--loading-color);
    animation: loading-skeleton infinite 1.5s;
}
.related-movie-item--loading{
    flex-shrink: 0;
    width: 120px;
    margin-right: 8px;
    height: 180px;
    background-color: var(--loading-color);
    animation: loading-skeleton infinite 1.5s;
}

/*efects*/
.movie-img-container--null-image{
    display: grid;
    place-content: center;
    background-color: var(--main-color);
}
.null-image-text{
    color: var(--light-color);
    font-size: 1.6rem;
}
.trending-movies-section-1 div{
    position: relative;
}
.liked-button{
    display: grid;
    place-content: center;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.8rem;
    color: var(--light-color);
    background-color: hsla(0,59%,41%, 0.3);
    border: none;
    border-radius: 50%;
}
.liked-button--active{
    color: red;
    background-color:hsla(0,0%,96%, 0.4);
}

/*Animations*/
@keyframes loading-skeleton{
    0%, 100%{
        opacity: 100%;
    }
    50%{
        opacity: 50%;
    }
}

#open{
    display: block;
}
#close{
    display: none;
}